.rollDice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  .diceWrapper{
   height: 20rem;
   width:  20rem;
   display: flex;
   justify-content: center;
   align-items: center;
  img{
    height: 50%;
    width: 50%;
    border-radius: 20px 15px 15px 20px;
    animation: rotateDice 0.5s alternate ease-in-out, shakeDice 0.3s alternate linear, opacityDice 0.3s alternate ease-in-out ;
    animation-fill-mode: forwards;
  }
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    color: $secondaryColor;
  }
      h2{
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    color: $secondaryColor;
    font-size: 1.9rem;
    }
    h3{
      text-transform: uppercase;
          color: $secondaryColor;
    }
  .nextDiceButtons{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

//animation
@keyframes rotateDice {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes shakeDice {
  0%{
    transform: translate(0,0);
  }

   25%{
   transform: translate(10px,20px);
  }

  50%{
   transform: translate(120px,20px);
  }

  75%{
   transform: translate(-100px,-20px);
  }
  100%{
   transform: ttranslate(0,0);
  }
}

@keyframes opacityDice {
  0%{
    opacity: 0;
  }
   15%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}