.rollDice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  .diceWrapper{
   height: 20rem;
   width:  20rem;
   display: flex;
   justify-content: center;
   align-items: center;
  img{
    height: 50%;
    width: 50%;
  }
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }
  .nextDiceButtons{
    display: flex;
    align-items: center;
  }
}