@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap');


//familyfonts
$familyFontsPrimary: 'Josefin Sans', sans-serif;
$familyFontsSecondary: 'Poppins', sans-serif;

//color
$primaryColor: #0f0f0f;
$additionalColor: #f5f5f5ec;
$backgroundPrimaryColor: rgb(0, 128, 0);